
body {
	background-color: #E1F4FD;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.table
{
	border-collapse:collapse;
	width:100%;
}
.table td, .table th
{
	font-size:9pt;
	font-family:Verdana;
	text-transform:uppercase;
	
}
#table
{
	border-collapse:collapse;
	width:100%;
}
#table td, .table th
{
	font-size:9pt;
	font-family:Verdana;
	text-transform:uppercase;
	
}
.trbg
{
	background: cyan;
}
input,select	{text-transform: uppercase; font-family: Verdana, Tohama, Arial; font-size: 9pt;}
.ListingHead
{
FONT-SIZE: 16px;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
COLOR: Maroon;
line-height:150%;
BORDER-BOTTOM: silver 0px solid;
PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
PADDING-BOTTOM: 0px;
PADDING-TOP: 0px;
font-weight: bold;
text-align: left;
MARGIN: 0px;
text-transform:uppercase;
}

.lists
{
    font-family: Arial, Helvetica, Verdana, sans-serif;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 14px;
    font-weight: bold;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    LINE-HEIGHT: 180%;
    COLOR: #164597;
    PADDING-TOP: 5px;
    LIST-STYLE-TYPE: none
}

.lists LI
{
    BACKGROUND-POSITION: 0px 0.7em;
    PADDING-LEFT: 15px;
    BACKGROUND-IMAGE: url(../Images/Arrow.gif);
    BORDER-BOTTOM: #e5e5e5 0px solid;
    BACKGROUND-REPEAT: no-repeat		
}
.lists LI A
{
    COLOR: #164597;
    TEXT-DECORATION: none
}
.lists LI A:hover
{
    COLOR: Maroon;
    TEXT-DECORATION: none
}

.tlists
{
    font-family: Arial, Helvetica, Verdana, sans-serif;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 16px;
    font-weight: normal;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    LINE-HEIGHT: 150%;
    COLOR: #164597;
    PADDING-TOP: 5px;
    LIST-STYLE-TYPE: none
}

.tlists LI
{
    BACKGROUND-POSITION: 0px 0.7em;
    PADDING-LEFT: 15px;
    BACKGROUND-IMAGE: url(../Images/Arrow.gif);
    BORDER-BOTTOM: #e5e5e5 0px solid;
    BACKGROUND-REPEAT: no-repeat
}
.tlists LI A
{
    COLOR: #164597;
    TEXT-DECORATION: none
}
.tlists LI A:hover
{
    COLOR: Maroon;
    TEXT-DECORATION: none
}


.Mediums
{
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-size: 13px;
color: Maroon;
text-decoration: none;
font-weight: bold;
line-height: 150%;
text-align: left;
padding: 0px 0px 0px 0px;
}



.RightLists
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-weight: normal;
    FONT-SIZE: 14px;
    MARGIN: 0px;
    LINE-HEIGHT: 130%;
    vertical-align:top;
    COLOR: #164597;
    LIST-STYLE-TYPE: none
	
}

.RightLists LI
{
    BACKGROUND-POSITION: 0px 0.5em;
    PADDING-LEFT: 11px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 0px;
    BACKGROUND-IMAGE: url(../Images/Arrow.gif);
    BORDER-BOTTOM: #0071AD 0px solid;
    BACKGROUND-REPEAT: no-repeat

}
.RightLists LI A
{
    COLOR: #164597;
    TEXT-DECORATION: none
}
.RightLists LI A:hover
{
    COLOR: Black;
    TEXT-DECORATION: none;
}



.TRightLists
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-weight: normal;
    FONT-SIZE: 15px;
    MARGIN: 0px;
    LINE-HEIGHT: 160%;
    vertical-align:top;
    COLOR: #164597;
    LIST-STYLE-TYPE: none
}

.TRightLists LI
{
    BACKGROUND-POSITION: 0px 0.6em;
    PADDING-LEFT: 11px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 0px;
    BACKGROUND-IMAGE: url(../Images/Arrow.gif);
    BORDER-BOTTOM: #0071AD 0px solid;
    BACKGROUND-REPEAT: no-repeat
}
.TRightLists LI A
{
    COLOR: #164597;
    TEXT-DECORATION: none
}
.TRightLists LI A:hover
{
    COLOR: Black;
    TEXT-DECORATION: none;
}




.Class1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	line-height:150%;
	color: Black;
	font-weight: bold;
	text-decoration: none;
}

	
.Class1 a {
	color: Black;
	}
	
.Class1 a:link, .Class1 a:visited {
	color: Black;
	}

a.Class1:hover {
	color: black;
}




.Class2 {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	line-height:100%;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

	
.Class2 a {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	padding-left:5px;padding-Right:5px;
	}
	
.Class2 a:link, .Class2 a:visited {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	}

a.Class2:hover {
	color: White;
	font-weight: bold;
	text-decoration: none;
}





.Class3 {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-align: left;
	padding: 5px 5px 0px 0px;
	text-transform: none;
	line-height:140%;
	text-decoration: none;
	font-weight: bold;
	color: #00339D;
	vertical-align: middle;
}

	
.Class3 a {
	color: #00339D;
	font-weight: bold;
	text-decoration: none;
}
	
.Class3 a:link, .Class3 a:visited {
	color: #00339D;
	font-weight: bold;
	text-decoration: none;
}

a.Class3:hover {
	color: #00339D;
	font-weight: bold;
	text-decoration: none;
}




.ClassTextLeft13 {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height:160%;
	padding: 5px 0 0 0;
	color: black;
	font-weight: normal;
	text-decoration: none;
}



.ClassTextLeft {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height:150%;
	padding: 0;
	color: black;
	font-weight: normal;
	text-decoration: none;
}

	
.ClassTextLeft a {
	color: Maroon;
	font-weight: normal;
	text-decoration: none;
}
	
.ClassTextLeft a:link, .ClassTextLeft a:visited {
	color: Maroon;
	font-weight: normal;
	text-decoration: none;
}

a.ClassTextLeft:hover {
	color: Maroon;
	font-weight: normal;
	text-decoration: none;
}






.toplinks {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	vertical-align: middle;
	padding: 0px;
	line-height: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}

	
.toplinks a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	}
	
.toplinks a:link, .toplinks a:visited {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	}

a.toplinks:hover {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}





/* for Scrolling - Start*/
.Tscro{
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
    text-decoration: none;
}

.Tscro a {
	text-decoration: none;
	color: black;
	}
	
.Tscro a:link, .Tscro a:visited {
	text-decoration: none;
	color: black;
	}
	
.Tscro a:hover {
	text-decoration: none;
	color: black;
	font-weight: bold;
	}
	
#Tscro1 {
	width:580px;
	height:20px;
	padding-top:2px;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:5px;
	background:#84E3FF;
	text-align:left;
	border: 0px solid #84E3FF;
	vertical-align: middle;
	}

/* for Scrolling - End*/